<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../styles/css/style.css">
	</head>
	<body>
		<div class="container">
			<div class="Signup">
				<div class="Signup__shell">
					<div class="Signup__shell__inner">
						<img src="../assets/whatsapp.png">
						<input class="Signup__shell__inner__input" type="text" placeholder="Email">
						<input class="Signup__shell__inner__input2" type="password" placeholder="Password">
						<router-link><h4 class="Signup__shell__inner__forgotPassword">Forgot Password</h4></router-link>
						<button class="Signup__shell__inner__button mt-form">Login</button>
						<button class="Signup__shell__inner__button"><img src="../assets/google.png"></button>
					</div>		
				</div>
			</div>
		</div>
		<script src="" async defer></script>
	</body>
</html>