.container {
    display: grid;
    height: 100vh;
    grid-template-rows: min-content repeat(5, min-content) 23vh;
    grid-template-columns: [full-start] minmax(1rem, auto) [col-start] repeat(2, [inner-col-start] minmax(min-content, 38vw) [inner-col-end]) [col-end] minmax(1rem, auto) [full-end];

   @media screen and (max-width: $medium) {
      grid-template-columns: [full-start] minmax(1rem, auto) [col-start] repeat(2, [inner-col-start] minmax(min-content, 43vw) [inner-col-end]) [col-end] minmax(1rem, auto) [full-end];
   }
   @media screen and (min-width: $large) {
      grid-template-columns: [full-start] minmax(1rem, auto) [col-start] repeat(2, [inner-col-start] minmax(min-content, 28vw) [inner-col-end]) [col-end] minmax(1rem, auto) [full-end];
   }
}