%input {
	background-color: $dark-light;
	padding: 1rem 1.3rem;
	border-radius: 1.6rem;
	border: none;
	font-size: 1.2rem;
	font-family: 'Segoe UI';
	font-weight: 200;
	color: white;
}

.Signup {
	display: grid;
	align-content: center;
	grid-column: col-start/col-end;
	height: inherit;
	&__shell {
		min-height: min-content;
		display: grid;
		color: $white;
		margin: 0 auto;
		align-content: center;
		 width: 25%;
		background-color: $dark-black;
		padding: 4rem;
	&__inner {
		display: grid;
		align-content: center;
		color: $dark-black;
		img {
			margin-bottom: 2rem;
			justify-self: center;
		}	
		&__input {
			@extend %input;
			margin-bottom: 1.5rem;
		}
		&__input2 {
			@extend %input;
		}
		&__button {
			background-color: #075E54;
			border-radius: 1.6rem;
			border: none;
			font-size: 1.2rem;
			font-family: 'Segoe UI';
			font-weight: 400;
			padding: 1rem 1.3rem;
			margin-bottom: 2rem;
			img {
				height: 1.5rem;
				margin: 0 auto;
			}
		}
		&__forgotPassword {
			justify-self: right;
			text-align: right;
			color: #075E54;
			margin-top: .2rem;
		}
	}
}
}
